@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: hsl(0, 0%, 5%);
}

.page-1 {
    font-family: 'Share Tech Mono';
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 5%);
}

.hero-section {
    display: grid;
    place-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.hero-section h1 {
    font-size: 2rem;
    color: hsl(150, 84%, 48%);
}

.hero-section h3 {
    font-size: 1.2rem;
    color: hsl(0, 0%, 80%);
}

@media screen and (min-width: 650px) {

    .hero-section h3 {
        font-size: 1.5rem;
    }

    .hero-section h1 {
        font-size: 3rem;
    }
}

.hero-button {
    padding: 0.5em 0;
}

.hero-button-button {
    --background: hsl(0, 0%, 5%);
    --background-color: white;
    --border-color: hsl(150, 83%, 34%);
    --border-width: 0.125em;
    --edge-size: 0.7em;

    position: relative;
    isolation: isolate;
    display: inline-grid;
    padding: 0.5em;
    border: 0;
    background: var(--background-color);
    color: antiquewhite;
    cursor: pointer;
    clip-path: 
    polygon( /* top left 2 */var(--edge-size) 0, /* top right */ 100% 0, /* bottom right 1 */ 100% calc(100% - var(--edge-size)), /* bottom right 2 */ calc(100% - var(--edge-size)) 100%, /* bottom left */ 0 100%, /* top left 1 */ 0% var(--edge-size));
}

.hero-button-button::before,
.hero-button-button::after {
    content: '';
    position: absolute;
    inset: 0;
}

.hero-button-button::before {
    background: var(--border-color);
    z-index: -2;
}

.hero-button-button::after {
    background: var(--background);
    z-index: -1;
    clip-path: 
    polygon(
        /* top left 2 */
        calc(var(--edge-size) + var(--border-width) * .25) 
        var(--border-width), 
        /* top right */
        calc(100% - var(--border-width)) 
        var(--border-width), 
        /* bottom right 1 */
        calc(100% - var(--border-width)) 
        calc(100% - calc(var(--edge-size) + var(--border-width) * .25)), 
        /* bottom right 2 */
        calc(100% - calc(var(--edge-size) + var(--border-width) * .25)) 
        calc(100% - var(--border-width)), 
        /* bottom left */
        var(--border-width) 
        calc(100% - var(--border-width)),
        /* top left 1 */
        var(--border-width) 
        calc(var(--edge-size) + var(--border-width) * .25)
        );
}

.hero-button-button a {
    text-decoration: none;
    font-size: clamp(1.12rem, 1.25vw, 1.25rem);
    color: hsl(150, 84%, 48%);
}

.page-2 {
    min-height: 100vh;
}