* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-1 {
    background: linear-gradient(rgba(4, 9, 30, 0.7), 
              rgba(4, 9, 30, 0.9)), 
              url(../img/img2.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    color: hsl(0, 0%, 90%);
    opacity: 1;
}

header a {
    padding: 0.5em;
    font-size: 1.3rem;
    text-decoration: none;
    color: hsl(150, 84%, 45%);
}

.hero-section {
    display: grid;
    place-content: center;
    padding: 6em 1em;
}

.hero-section > span {
    color: hsl(150, 84%, 48%);
}

.hero-button {
    padding: .5em 0;
}

.hero-button a {
    padding: 0.5em 1.2em;
    background: hsl(150, 84%, 48%);
    color: hsl(0, 0%, 10%);
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    clip-path: polygon(43% 0, 53% 7%, 100% 7%, 100% 62%, 95% 91%, 32% 91%, 
    0 91%, 0 15%, 8% 0);
}