nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.nav-bar ul {
    display: flex;
}

.nav-bar li {
    list-style: none;
}

/* Hover effets for navbar on desktop */
.nav-bar a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-size: clamp(1.4rem, 1.25vw, 2rem);
    color: hsl(150, 52%, 52%);
    background:
      linear-gradient(
        to right,
        hsl(220, 6%, 10%),
        hsl(220, 6%, 10%)
      ),
      linear-gradient(
        to right,
        hsl(150, 50%, 45%),
        hsl(150, 79%, 44%),
        hsl(150, 94%, 47%)
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.nav-bar a:hover {
    color: hsl(150, 84%, 48%);
    background-size: 0 3px, 100% 3px;
}

.nav-bar .link {
    padding: 0 5em;
}

/* create the hamburger menu bars on the top right side of the screen*/
nav .hamburger-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    width: 30px;
    height: 21px;
}

.hamburger-btn .bar {
    height: 3px;
    width: 100%;
    background-color: hsl(150, 84%, 48%);
    border-radius: 10px;
}

.hamburger-btn .bar-1,
.hamburger-btn .bar-3 {
    height: 3px;
    width: 70%;
    background-color: hsl(150, 84%, 48%);
    border-radius: 10px;
}

/* clip path shape for the logo(EE) button on the navbar */
nav .logo {
    padding: .5em 4em 2em 1em;
    clip-path: polygon(50% 0%, 100% 0, 76% 38%, 76% 63%, 62% 76%, 21% 76%, 0 100%, 0% 43%, 0 0);
    background:hsl(0, 2%, 19%);
}

/* media query to adjust clip path size on bigger desktop screens */
@media screen and (min-width: 650px) {

    nav .logo {
        padding: .5em 10em 3em 1em;
    }
}

nav .logo a {
    text-decoration: none;
    font-size: clamp(1.5rem, 1.25vw, 2rem);
    font-weight: bold;
    color: hsl(150, 84%, 48%);
}

@media screen and (max-width: 650px) {
    nav .hamburger-btn {
        display: flex;
    }

    .nav-bar {
        display: none;
        width: 100%;
        box-shadow: 10px 11px 24px 6px hsl(0, 0%, 0%);
        -webkit-box-shadow: 10px 11px 24px 6px hsl(0, 0%, 0%);
        -moz-box-shadow: 10px 11px 24px 6px hsl(0, 0%, 0%);
    }

    .nav-bar.nav-bar.active a {
        color: hsl(150, 94%, 47%);
        background: hsl(0, 0%, 5%);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-bar li {
        text-align: center;
    }

    .nav-bar.active {
        display: flex;
    }
}